# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Node artifact files
node_modules/
dist/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# JetBrains IDE
.idea/

.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# frontend
node_modules
/src/main/resources/static

*.tfstate
*.tfstate.backup
.terraform
.terraform.tfstate.lock.info
